/* override css styles of the main theme here */
body
  // background-color: #fff
.avatar
  max-width: 70px !important

section.header .name h1
  font-size: 28px
  font-weight: 700

.self-intro
  font-weight: 700 !important

// nav ul li[class^="nav-"] a
//   color: #333333 !important
//   transform: none
//   transition: none
//   box-shadow: none

a, a:hover
  color: #b78700

p a:hover, div.markdown li a:hover
  font-weight: 300
  padding: 4px 6px
  color: #6a42ca
  background-color: #e6e6e6
  text-decoration: none
  text-shadow: none
  transition: all .15s ease-in-out
  transform: scale(1.0)
  box-shadow: 2px 2px 0 #b7a0ed

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
div.container div.content div.page-heading,
div.content div.name
  // color: #0d3c5e
