/* override css styles of the main theme here */
body {
  background-color: #444;
}

p, h1, h2, h3, h4, h5, h6, span, div.container div.content div.page-heading, div.content div.name {
  color: darkkhaki;
}

h3.self-intro {
	color: #999 !important;
}

img.icon {
	color: #fff !important;
}